*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 1000px;
    margin: 50px auto;
}
.wrap .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap .item .box{
    width: 150px;
    height: 150px;
    background: chartreuse;
    border-radius: 50%;
    margin-left: 15px;
}